---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Janruary 01 2025')}
	heroImage="/aboutme.jpg"
>
	<p>
		I'm a guy in my forties from Czechia who loves coding and cherishes his family. I have a wonderful wife and four amazing daughters.

    Balancing side coding projects with a full-time job and family life is no easy feat—but from what people tell me, I'm managing pretty well. 😉

    I've always been a creative person. I play the piano, and I recently picked up the violin to stay in tune—literally—with one of my daughters.
	</p>

	<p>
		I have made several projects recently. You can check them out.
		<ul>
			<li><a href="https://vikitorek.com/">Vikitorek.com</a> - Wikipedia article to kid's friendly summary in one click.</li>
			<li><a href="https://mujprvniweb.netlify.app/">Create your website FAST tutorial</a> - A neat fast tutorial for web developer beginers</li>
			<li><a href="https://calm-capybara-6d6ccf.netlify.app/">vyresproblem.cz</a> - A guide for solving any complex life issues (by Ben Furman) in czech</li>
		</ul>
	</p>

	<p>
		My personal website I use mostly for headhunters: <a href="https://www.janbrus.cz">janbrus.cz</a>
	</p>

</Layout>
